.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: blue;
    font-size: 30px;
  }
  
  @media (max-width: 1024px) {
    .header {
      font-size: 26px;
      padding: 10px 15px;
    }
  }

  @media (max-width: 768px) {
    .header {
      font-size: 22px;
      padding: 8px 12px;
    }
  }

  @media (max-width: 480px) {
    .header {
      font-size: 18px;
      padding: 6px 10px;
      flex-direction: column;
      text-align: center;
    }
  }